<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limox.jesus.monksresurrection">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icomonge"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpLogin_Activity" />
        <activity android:name=".RecoupAccount_Activity" />
        <activity
            android:name=".PostView_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DashPosts_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Index_Activity" />
        <activity
            android:name=".StartSignUp_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".SignUpEmail_Activity" />
        <activity android:name=".SignUpUser_Activity" />
        <activity
            android:name=".CreatePost_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ItemSections_Cardview" />
    </application>

</manifest>