<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limox.jesus.teambeta">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:name=".TeamBetaApplication"
        android:allowBackup="true"
        android:icon="@drawable/isologo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".Provider.TeamBetaProvider"
            android:authorities="com.limox.jesus.teambeta" />

        <activity
            android:name=".Login_Activity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CreatePost_Activity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Home_Activity" />
        <activity android:name=".SignUp_Activity" />
        <activity android:name=".HelpLogin_Activity" />
        <activity android:name=".UserProfile_Activity" />
        <activity android:name=".Settings_Activity" />
        <activity android:name=".Admins_Activity" />
        <activity android:name=".Start_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PostView_Activity" />
        <activity android:name=".SelectProject_Activity" />
    </application>

</manifest>