<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limox.jesus.teambeta">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icomonge"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.limox.jesus.teambeta.Login_Activity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name="com.limox.jesus.teambeta.CreatePost_Activity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.limox.jesus.teambeta.Home_Activity" />
        <activity android:name="com.limox.jesus.teambeta.SignUp_Activity" />
        <activity android:name="com.limox.jesus.teambeta.HelpLogin_Activity" />
        <activity android:name="com.limox.jesus.teambeta.UserProfile_Activity" />
        <activity android:name="com.limox.jesus.teambeta.Settings_Activity" />
        <activity android:name="com.limox.jesus.teambeta.Admins_Activity" />
        <activity android:name="com.limox.jesus.teambeta.Start_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>